
<div class="list_container">
	<table>
		<tr>
			<th>Name</th>
			<th>Owner Screen Name</th>
			<th>List Slug</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<% @twitter_lists.each do |twitter_list| %>
			<tr>
				<td><%= twitter_list.name %></td> 
				<td><%= twitter_list.owner_screen_name %> </td> 
				<td><%= twitter_list.list_slug %> </td>
				<td><%= link_to 'Show', twitter_list %></td>
				<td><%= link_to 'Edit', edit_twitter_list_path(twitter_list) %></td>
				<td><%= link_to 'Destroy', twitter_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</table>
	<div class="bottom_link">
		<%= link_to 'New Twitter list', new_twitter_list_path %>
	</div>

</div>
