
		<div class="styled-select">
			<select id="header-shows-filter" ONCHANGE="location = this.options[this.selectedIndex].value;">
				<option value="/feed">Select a tweet source</option>
				<option value="/feed">All</option>
				<% @twitter_lists.each do |tl| %>
					<option value="/feed?slug=<%= tl.list_slug %>"><%= tl.name %></option>
				<% end %>
			</select>
		  
		</div>
		<div id="container">

			<%@image_tweets.each do |tweet|%>
				<div id="item">
			 		<div class="item">
					  <div class="photo">
					  	<a href="http://www.twitter.com/#!/<%=tweet[:username]%>/status/<%=tweet[:twitter_id]%>">
								<div class="overlay"><div class="message"><%=tweet[:text]%></div></div>
					   	</a>	
		    			<img src="<%=tweet[:media_url]%>" class="photo"/>
					  </div>
					  <div class="profilepic"><img src="<%=tweet[:usericon]%>" width="50" height="50" /></div>
					  <div class="profile"><%=tweet[:username]%></div>
					 	<div class="created_at"><%= Time.zone.parse(tweet[:twitter_create_at]).strftime("%m/%d/%Y %H:%M:%S") %></div>
					</div>
				</div>

			<% end %>

		</div>
	
