<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>PicDrop</title>
	<link href="styles.css" rel="stylesheet" type="text/css">
</head>
	<body>
		<div class="header" style="vertical-align:text-top">
			<img src="picdrop.gif" width="338" height="109" alt="PicDrop" />
		</div>
		<br/> <h3><%=@property%></h3> <br>
		<div class="sort">
		<%=link_to "American Idol", :controller => "feeds", :show=>"American Idol" %>   <%=link_to "Glee", :controller => "feeds", :show=>"Glee" %>
		</div>


		<div id="container">

			<%@image_tweets.each do |tweet|%>
				<div id="item">
					 <div class="item">
					    <div class="photo"><img src="<%=tweet[:media_url]%>" width="250" height="250" /></div>
					    <div class="profilepic"><img src="<%=tweet[:usericon]%>" width="50" height="50" /></div>
					    <div class="profile"><%=tweet[:username]%></div>
					    <div class="info"><%=tweet[:text]%></div>
					    <div class="link"><a href="http://www.twitter.com/#!/<%=tweet[:username]%>/status/<%=tweet[:twitter_id]%>">Link to Tweet</a></div>
				</div>

			<% end %>

		</div>
	
	</body>
</html>




