
<div class="styled-select">
	<%= select_tag 'header-shows-filter', options_from_collection_for_select(@pods, :id, :name, (params[:id] || 0)), :prompt => "All" %>
</div>
<div class="pagination">
	<%= paginate @posts %>
</div>

<div id="container">
	<% @posts.each do |post| %>
 		<div class="item">
		  <div class="photo">
		  	<%= link_to post.url do %>
					<div class="overlay"><div class="message"><%= post.text %></div></div>
		   	<% end %>
  			<img src="<%= post.media_url %>" class="photo" />
		  </div>
		  <div class="profilepic"><img src="<%= post.usericon %>" width="50" height="50" /></div>
		  <div class="profile"><%= post.username %></div>
		 	<div class="created_at"><%= "#{time_ago_in_words post.twitter_created_at} ago" %></div>
		</div>
	<% end %>
</div>

<div class="pagination">
	<%= paginate @posts %>
</div>
