<h1>Listing twitter_members</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Twitter</th>
    <th>Name</th>
    <th>Screen name</th>
    <th>Location</th>
    <th>Description</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @twitter_members.each do |twitter_member| %>
  <tr>
    <td><%= twitter_member.id %></td>
    <td><%= twitter_member.twitter_id %></td>
    <td><%= twitter_member.name %></td>
    <td><%= twitter_member.screen_name %></td>
    <td><%= twitter_member.location %></td>
    <td><%= twitter_member.description %></td>
    <td><%= twitter_member.url %></td>
    <td><%= link_to 'Show', twitter_member %></td>
    <td><%= link_to 'Edit', edit_twitter_member_path(twitter_member) %></td>
    <td><%= link_to 'Destroy', twitter_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Twitter member', new_twitter_member_path %>
