<%= form_for @pod do |f| %>
  <%= f.label :name, 'Name' %> <%= f.text_field :name %>

  <fieldset>
    <i class="icon-twitter icon-4x"> Twitter</i>
    <br />
    <%= f.fields_for :twitter_list do |twit_f| %>
      <%= twit_f.label :twitter_handle, 'Twitter Handle' %> <%= twit_f.text_field :owner_screen_name %>
    <% end %>
  </fieldset>
  
  <fieldset>
    <i class="icon-instagram icon-4x"> Instagram</i>
    <br />
    <%= f.fields_for :instagram_account do |inst_f| %>

        <%= inst_f.label :username, 'Username' %> <%= inst_f.text_field :username %> <br />
        <% if @pod.instagram_account.access_token.present? %>
          <%= inst_f.label :access_token, 'Access Token:' %> <%= @pod.instagram_account.access_token %><br />
          <%= instagram_button @pod.instagram_account.id, :text => "Relog into Instagram" %>
        <% elsif !@pod.instagram_account.new_record? %>
          <div class="alert-error">
            You need to log in with this account so PicDrop can capture the access token from Instagram<br />
            <%= instagram_button @pod.instagram_account.id %>
          </div>
        <% end %>
    <% end %>
  </fieldset>

  <br />
  <%= f.submit %>
<% end %>