<%= form_for @pod, :html => {:class => 'well'} do |f| %>
  <%= f.label :name, 'Name' %> <%= f.text_field :name %>

  
  <fieldset class="twitter well">
    <i class="icon-twitter icon-4x"> Twitter</i>
    <br />
    <%= f.fields_for :twitter_lists do |twit_f| %>
      <%= twit_f.label :owner_screen_name, 'Twitter List' %> <%= twit_f.text_field :owner_screen_name, :placeholder => 'Twitter Username' %>
      <%= twit_f.select :list_slug, options_for_select(twit_f.object.lists, twit_f.object.list_slug) %>
      <button type="button" class="btn btn-danger btn-mini remove-button" data-toggle="button"><i class="icon-remove-sign"></i></button>
      <%= twit_f.hidden_field :_destroy %>
    <% end %>
  </fieldset>
  
  <fieldset class="well">
    <i class="icon-instagram icon-4x"> Instagram</i>
    <br />
    <%= f.fields_for :instagram_account do |inst_f| %>

      <%= inst_f.label :username, 'Username' %> <%= inst_f.text_field :username %> <br />
      <% if @pod.instagram_account.access_token.present? %>
        <%= consume_feed_button @pod.instagram_account.consume_from_feed %>
        <%= inst_f.hidden_field :consume_from_feed, value: @pod.instagram_account.consume_from_feed %>

        <%= inst_f.label :access_token, 'Access Token:' %> <%= @pod.instagram_account.access_token %><br />
        <%= instagram_button @pod.instagram_account.id, :text => "Relog into Instagram" %>

        <div>Pull in posts from the following users:</div>
        <%= inst_f.fields_for :instagram_users do |user_f| %>
          <%= user_f.text_field :username, :placeholder => 'Instagram Username' %>
          <button type="button" class="btn btn-danger btn-mini remove-button" data-toggle="button"><i class="icon-remove-sign"></i></button>
          <%= user_f.hidden_field :_destroy %><br />
        <% end %>
      <% elsif !@pod.instagram_account.new_record? %>
        <div class="alert alert-error">
          You need to log in with this account so PicDrop can capture the access token from Instagram<br />
          <%= instagram_button @pod.instagram_account.id %>
        </div>
      <% end %>

    <% end %>
  </fieldset>

  <fieldset class="well">
    <i class="icon-facebook icon-4x"> Facebook</i>
    <br />
  </fieldset>

  <br />
  <%= f.submit :class => 'btn btn-success' %>
<% end %>